body {
    font-family: "Roboto", sans-serif;
} 

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header */

.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-box {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 93px;
}

.header-nav {
    margin-right: auto;
}

.nav-box {
    display: flex;
    gap: 50px;
}

.contact-box {
    display: flex;
    gap: 50px;
}

/* hero */

.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    text-align: center;
    width: 696px;
    margin: 0 auto;
}

.hero-button {
    padding: 10px 32px;
    margin-top: 30px;
}

/* skills */

.skills {
    padding-top: 94px;
    padding-bottom: 94px;
}

.skills-desc {
    margin-top: 10px;
}

.skills-list-box {
    display: flex;
    gap: 30px;
}

/* work */

.work {
    padding-bottom: 94px;
}

.work-box {
    display: flex;
    margin-top: 50px;
    gap: 30px;
}

/* team */

.team {
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-title {
    text-align: center;
}

.team-box {
    display: flex;
    margin-top: 50px;
    gap: 30px;

}

.team-image {
    width: 270px;
    height: 260px;
}

.team-item {
    text-align: center;
}

.team-text-box {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-desc {
    margin-top: 10px;
}

/* footer */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-address {
    margin-top: 20px;
}

.footer-item {
margin-top: 9px;
}

/* Інша сторінка - portfolio hero */

.portfolio-hero {
    padding: 94px 0;
}

.button-box {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.portfolio-button1 {
    padding: 6px 25px;
}

.portfolio-button2 {
    padding:  6px 22px;
}

.portfolio-button3 {
    padding: 6px 22px;
}

.portfolio-button4 {
    padding: 6px 22px;
}

.portfolio-button5 {
    padding: 6px 22px;
}

.portfolio-box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-item {
    width: 370px;
}

.portfolio-image {
    width: 370px;
    height: 294px;
}

.portfolio-item-box {
    padding: 20px 24px;
}

.portfolio-title {
    width: 322px;
    margin-bottom: 4px;
}







