:root {
    --hero-background: rgba(47, 48, 58, 1);
    --first-background: rgba(255, 255, 255, 1);
    --second-background: rgba(245, 244, 250, 1);
    --third-background: rgba(33, 150, 243, 1);
    --black-text: rgba(33,33,33,1);
    --white-text: rgba(255, 255, 255, 1);
    --grey-text: rgba(117, 117, 117, 1);
    --blue-text: rgba(33, 150, 243, 1);
}

.hero {
    background-color: var(--hero-background);
}

h1 {
    color: var(--white-text);
}

.hero button {
    color: var(--white-text);
    background-color: var(--third-background);
}



/* синій rgba(33, 150, 243, 1) */
/* білий rgba(255, 255, 255, 1) */
/* сірий rgba(117, 117, 117, 1) */
/* чорний rgba(33, 33, 33, 1) */
/* сірий у footer rgba(255, 255, 255, 0.6) */
/* our team section color rgba(245, 244, 250, 1) */