/* font-family: "Raleway", sans-serif; */
/* font-family: "Roboto", sans-serif;  */

.logo-color {
    color: var(--third-additional-text);
font-family: "Raleway" sans-serif;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.logo-color2 {
    color: var(--accent-text);
font-family: "Raleway" sans-serif;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.nav-link {
    color: var(--accent-text);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link::after {
    content: "";
    width: 100%;
height: 4px;
border-radius: 2px;
background: var(--third-background);
display: block;
position: absolute;
margin-top: 31px;
transform: scale(0);
transition-property: opacity, transform;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--third-additional-text);
}

.nav-link:hover::after,
.nav-link:focus::after {
    transform: scale(1);
}

.active {
    color: var(--third-additional-text);
}

.active::after {
    content: "";
    width: 100%;
height: 4px;
border-radius: 2px;
background: var(--third-background);
display: block;
position: absolute;
margin-top: 31px;
opacity: 1;
transform: scale(1);
}

.header {
    border-bottom: solid 1px rgba(236, 236, 236, 1);
}

.header-item-img {
    fill: var(--svg-icon);
    width: 16px;
height: 12px;
transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item-img2 {
    fill: var(--svg-icon);
    width: 10px;
height: 16px;
transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link {
    color: var(--sec-additional-text);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
 color: var(--third-additional-text);
 .header-item-img,
 .header-item-img2 {
    fill: var(--third-additional-text);
    
 }
}

/* hero */

.hero {
    background-color: var(--hero-background);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    color: var(--additional-text);
text-align: center;
font-size: 44px;
font-weight: 900;
line-height: 1.36;
letter-spacing: 2.64px;
text-transform: uppercase;
}

.hero-button {
color: var(--additional-text);
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 1.87;
letter-spacing: 0.96px;
border-radius: 4px;
border: none;
background-color: var(--third-background);
box-shadow: 0px 4px 4px 0px var(--button-box-shadow);
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
    background-color: var(--button-hover);
}

/* skills */
.skills-title {
color: var(--accent-text);
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
}

.skills-desc {
color: var(--sec-additional-text);
font-size: 14px;
font-weight: 400;
line-height: 1.71; 
letter-spacing: 0.42px;
}

/* work */

.work-title {
color: var(--accent-text);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
}

.work-image {
    width: 370px;
height: 294px;
}

.work-box-item {
    background-color: var(--work-box-background);
    width: 100%;
    height: 70px;
    border: 1px solid #000;

}

.work-item-title {
    color: var(--additional-text);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    width: auto;
}

/* team */

.team {
    background-color: var(--second-background);
}

.team-item {
    background-color: var(--first-background);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    border-radius: 0px 0px 4px 4px;
}

.team-title {
color: var(--accent-text);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
}

.team-caption {
color: var(--accent-text);
font-size: 16px;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.48px;
}

.team-desc {
color: var(--sec-additional-text);
font-size: 16px;
font-weight: 400;
line-height: 1.18;
letter-spacing: 0.48px;
}

.team-social-link {
padding: 12px;
border-radius: 100%;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-svg {
    width: 20px;
height: 20px;
fill: var(--clients-svg);
transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:focus,
.team-social-link:hover {
    background-color: var(--third-additional-text);
    .team-link-svg{
        fill: var(--additional-text);
    }
}

/* clients */

.clients {
    padding: 94px 0 94px 0;
}

.clients-title {
    color: var(--accent-text);
text-align: center;
font-family: "Roboto", sans-serif;
font-size: 36px;
font-weight: 700;
line-height: 1.6;
letter-spacing: 1.08px;
}

.clients-item-link {
width: 170px;
height: 92px;
border: 1px solid #AFB1B8;
border-radius: 4px;
transition-property: border;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link-img {
    fill: var(--clients-svg);
    width: 106px;
    height: 60px;
    transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item-link:hover,
.clients-item-link:focus {
    border: 1px solid var(--third-additional-text) ;
    .clients-link-img{
        fill: var(--third-additional-text);
    }
}

/* footer */

.footer {
    background-color: var(--hero-background);
}

.footer-span {
    color: var(--third-additional-text);
    font-family: "Raleway" sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.footer-span2 {
color: var(--additional-text);
font-family: "Raleway" sans-serif;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.footer-address {
    width: 231px;
}

.address-link {
color: var(--additional-text) ;
font-style: normal;
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;
}

.footer-link {
color: var(--footer-text);
font-style: normal;
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;
}

.address-link:focus,
.footer-link:focus,
.footer-address-link:focus {
    background-color: var(--hero-background);
}

.footer-address-link{
color: var(--footer-text);
font-style: normal;
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;
}

.footer-title {
color: var(--additional-text);
font-family: "Roboto", sans-serif;
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
}

.footer-social-link {
    padding: 12px;
    border-radius: 100%;
    background-color: var(--footer-svg);
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-img {
fill: var(--additional-text);
width: 20px;
height: 20px;
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--third-background);
}

.form-title {
    color: var(--additional-text);
font-family: "Roboto", sans-serif;
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
}

.search-input {
    width: 363px;
height: 50px;
background-color: var(--footer-background);
border-radius: 4px;
border: none;
box-shadow: 0px 4px 4px 0px var(--input-shadow);
padding-left: 16px;
color: var(--footer-input);
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.25;
letter-spacing: 0.48px;
outline: 1px solid var(--input-border);
transition-property: outline;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.search-input:hover,
.search-input:focus,
.search-input:active {
    outline: 1px solid var(--third-additional-text);
}

.search-button {
    color: var(--additional-text);
text-align: center;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 1.87;
letter-spacing: 0.96px;
background-color: var(--third-background);
border: none;
border-radius: 4px;
box-shadow: 0px 4px 4px 0px var(--input-shadow);
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.search-svg {
    fill: var(--additional-text);
width: 24px;
height: 24px;
}

.search-button:hover {
    background-color: var(--button-hover);
}

/* Інша сторінка - portfolio hero */

.portfolio-button {
color: var(--accent-text);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.62;
letter-spacing: 0.48px;
border-radius: 4px;
background: var(--second-background);
border: none;
transition-property: background-color, color, box-shadow;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
    
.portfolio-button:hover,
.portfolio-button:focus {
color: var(--additional-text);
background-color: var(--third-background);
box-shadow: 0px 3px 1px 0px var(--button-box-shadow)
}

.portfolio-item {
    background-color: var(--first-background);
    border: 1px solid var(--portfolio-background);
    position: relative;
    transition-property: box-shadow;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.portfolio title {
color: var(--accent-text);
font-size: 18px;
font-weight: 700;
line-height: 2.00;
letter-spacing: 1.08px;
}

.portfolio-desc {
color: var(--sec-additional-text);
font-size: 16px;
font-weight: 400;
line-height: 1.87;
letter-spacing: 0.48px;
}

.hover-title {
    width: 370px;
height: 294px;
background: var(--third-background);
color: var(--additional-text);
font-family: "Roboto", sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 1.55;
letter-spacing: 0.54px;
}