.footer {
    background-color: $hero-background;
    padding-top: 60px;
    padding-bottom: 60px;

    &__box {
        display: flex;
    }

    &__span {
        color: $third-additional-text;
        font-family: "Raleway" sans-serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.38;
        letter-spacing: 0.78px;
    }

    &__span2 {
        color: $additional-text;
        font-family: "Raleway" sans-serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.38;
        letter-spacing: 0.78px;
    }

    &__address {
        width: 231px;
        margin-top: 20px;
    }

    &__link {
        color: $footer-text;
        font-style: normal;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        letter-spacing: 0.42px;
    }

    .address__link:focus,
    &__link:focus,
    &__address-link:focus {
    background-color: $hero-background;
    }

    &__item {
        margin-top: 9px;
    }

    &__address-link2 {
        color: $additional-text;
        font-style: normal;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        letter-spacing: 0.42px;
    }

    &__address-link{
        color: $footer-text;
        font-style: normal;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        letter-spacing: 0.42px;
    }

    &__title {
        color: $additional-text;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__social-list {
        display: flex;
        gap: 10px;
    }

    &__social-link {
        padding: 12px;
        border-radius: 100%;
        background-color: $footer-svg;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__social-img {
        fill: $additional-text;
        width: 20px;
        height: 20px;
    }

    &__social-link:hover,
    &__social-link:focus {
    background-color: $third-background;
    }

}

.social{
    &__box {
        margin-left: 70px;
    }
}

.form {
    &__box {
        margin-left: 93px;
    }

    &__title {
        color: $additional-text;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
    }
}

.search {
    display: flex;
    gap: 12px;

    &__input {
        width: 363px;
        height: 50px;
        background-color: $footer-background;
        border-radius: 4px;
        border: none;
        box-shadow: 0px 4px 4px 0px $input-shadow;
        padding-left: 16px;
        color: $footer-input;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
        letter-spacing: 0.48px;
        outline: 1px solid $input-border;
        transition-property: outline;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__input:hover,
    &__input:focus,
    &__input:active {
    outline: 1px solid $third-additional-text;
    }      
    
    &__button {
        color: $additional-text;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.87;
        letter-spacing: 0.96px;
        background-color: $third-background;
        border: none;
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px $input-shadow;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        display: flex;
        gap: 10px;
        padding: 10px 28px;
        align-items: center;
        justify-content: center;
    }

    &__svg {
        fill: $additional-text;
        width: 24px;
        height: 24px;
    }

    &__button:hover {
        background-color: $button-hover;
    }
}