.header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px rgba(236, 236, 236, 1);

    @media screen and (min-width: 768px) {
        padding-top: 21px;
        padding-bottom: 21px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 24px;
        padding-bottom: 25px;
    }

    &__box {
    @include flex-box($justify:start, $wrap:nowrap);
    }

    &__logo {
        margin-right: auto;

        @media screen and (min-width: 768px) {
            margin-right: 88px;
        }
    
        @media screen and (min-width: 1200px) {
            margin-right: 93px;
        }
    }

    &__logo-color {
        color: $third-additional-text;
        font-family: "Raleway" sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.375;
        letter-spacing: 0.72px;

        @media screen and (min-width: 1200px) {
            font-size: 26px;
            line-height: 1.38;
            letter-spacing: 0.78px;
        }
    }

    &__logo-color2 {
        color: $accent-text;
        font-family: "Raleway" sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.375;
        letter-spacing: 0.72px;
    
        @media screen and (min-width: 1200px) {
            font-size: 26px;
            line-height: 1.38;
            letter-spacing: 0.78px;
        }
    }

    &__nav-box {
        display: none;
    
        @media screen and (min-width: 768px) {
            display: flex;
            gap: 50px;
            margin-right: auto;
        }
    
    }

    &__nav-link {
        color: $accent-text;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.28px;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
    }

    &__nav-link::after {
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: $third-background;
        display: block;
        position: absolute;
        margin-top: 28px;
        transform: scale(0);
        transition-property: opacity, transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 1200px) {
            margin-top: 31px;
        }
    }

    &__nav-link:hover,
    &__nav-link:focus {
        color: $third-additional-text;
    }

    &__nav-link:hover::after,
    &__nav-link:focus::after {
        transform: scale(1);
    }

    &__contact-box {
        display: none;

        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    
        @media screen and (min-width: 1200px) {
            flex-direction: row;
            gap: 30px;
        }
    }

    &__item-img {
        fill: $svg-icon;
        width: 16px;
        height: 12px;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__item-img2 {
        fill: $svg-icon;
        width: 10px;
        height: 16px;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link {
        color: $sec-additional-text;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.16;
        letter-spacing: 0.24px;
        display: flex;
        align-items: center;
        gap: 8px;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.28px;
        gap: 10px;
    }

    }

    &__link:hover,
    &__link:focus {
    color: $third-additional-text;

    .header__item-img,
    .header__item-img2 {
        fill: $third-additional-text;
     }
    }
}


.active {
    color: $third-additional-text;
    @keyframes after {
        0%{
            transform: scale(0);
            background: $third-background;
        }
        100% {
            transform: scale(1);
        }
    }

    &::after {
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: $third-background;
        display: block;
        position: absolute;
        margin-top: 28px;
        opacity: 1;
        transform: scale(1);
        animation-name: after;
        animation-duration: 500ms;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
        @media screen and (min-width: 1200px) {
            margin-top: 31px;
        }
    }

}

// /\/\/\/\/\/\/\/\/\/\/\ Мобільне меню /\/\/\/\/\/\/\/\/\/\/\

.header {

    &__button {
        background: none;
        border: none;

        @media screen and (min-width: 768px) {
            display: none;
        }

    }

    &__menu-svg {
        width: 40px;
        height: 40px;
        fill: $close-svg;
    }



}


.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
    padding: 48px 40px;
    opacity: 1;
    background-color: $first-background;

    &__close-btn {
        background: none;
        border: none;
        position: absolute;
        top: 10px;
        right: 15px;
    }

    &__close-svg {
        fill: $close-svg;
        width: 40px;
        height: 40px;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__close-btn:hover,
    &__close-btn:focus {
        .menu__close-svg {
            fill: $third-additional-text;
        }
    }

    

    &__link-list {
        display: flex;
        flex-direction: column;
        gap: 33px;
        margin-bottom: auto;
    }

    &__link {
        color: $accent-text;
        font-family: "Roboto", sans-serif;
        font-size: 40px;
        font-weight: 500;
        line-height: 1.75;
        letter-spacing: 0.8px;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover,
    &__link:focus {
        color: $third-additional-text;
    }

    &__absolute {
        position: absolute;
        bottom: 50px;
    }

    &__contact-list {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-bottom: 64px;
    }


    &__contact-link {
        color: $third-additional-text;
        font-family: "Roboto", sans-serif;
        font-size: 34px;
        font-weight: 500;
        line-height: 0.85;
        letter-spacing: 0.68px;
    }

    &__email-link {
        color: $sec-additional-text;
        font-family: "Roboto", sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.48px;
    }

    &__social-list {
        display: flex;
        gap: 20px;
    }

    &__social-link {
        color: $third-additional-text;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.22;
        letter-spacing: 0.36px;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__social-link:hover {
        color: $accent-text;
    }

    &__social-link::after {
        display: inline-block;
        content: "";
        width: 1px;
        height: 22px;
        background-color: rgba(33, 33, 33, 0.20);
        margin: 0 10px;
    }

    &__social-link:last-child::after {
        display: none;
    }

}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}





