.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: solid 1px rgba(236, 236, 236, 1);

    &__box {
        display: flex;
    align-items: center;
    }

    &__logo {
        margin-right: 93px;
    }

    &__logo-color {
        color: $third-additional-text;
        font-family: "Raleway" sans-serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.38;
        letter-spacing: 0.78px;
    }

    &__logo-color2 {
        color: $accent-text;
        font-family: "Raleway" sans-serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.38;
        letter-spacing: 0.78px;
    }

    &__nav {
        margin-right: auto;
    }

    &__nav-box {
        display: flex;
        gap: 50px;
    }

    &__nav-link {
        color: $accent-text;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.28px;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
    }

    &__nav-link::after {
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: $third-background;
        display: block;
        position: absolute;
        margin-top: 31px;
        transform: scale(0);
        transition-property: opacity, transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__nav-link:hover,
    &__nav-link:focus {
        color: $third-additional-text;
    }

    &__nav-link:hover::after,
    &__nav-link:focus::after {
        transform: scale(1);
    }

    &__contact-box {
        display: flex;
        gap: 30px;
    }

    &__item-img {
        margin-right: 10px;
        fill: $svg-icon;
        width: 16px;
        height: 12px;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__item-img2 {
        margin-right: 10px;
        fill: $svg-icon;
        width: 10px;
        height: 16px;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link {
        color: $sec-additional-text;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.28px;
        transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover,
    &__link:focus {
    color: $third-additional-text;

    .header__item-img,
    .header__item-img2 {
        fill: $third-additional-text;
     }
    }
}


.active {
    color: $third-additional-text;
    @keyframes after {
        0%{
            transform: scale(0);
            background: $third-background;
        }
        100% {
            transform: scale(1);
        }
    }
}

.active::after {
content: "";
width: 100%;
height: 4px;
border-radius: 2px;
background: $third-background;
display: block;
position: absolute;
margin-top: 31px;
opacity: 1;
transform: scale(1);
animation-name: after;
animation-duration: 500ms;
animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
