.hero {
    background-color: $hero-background;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/phone/hero-background-phone@1x.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;

    @media (min-device-pixel-ratio: 2),
       (min-resolution: 192dpi),
       (min-resolution: 2dppx) {
        & {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/phone/hero-background-phone@2x.webp);
        }
    }

    @media screen and (min-width:768px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero-background-tablet@1x.webp);

        @media (min-device-pixel-ratio: 2),
       (min-resolution: 192dpi),
       (min-resolution: 2dppx) {
        & {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero-background-tablet@2x.webp);
        }
    }
    }

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero-background-desktop@1x.webp);

        @media (min-device-pixel-ratio: 2),
       (min-resolution: 192dpi),
       (min-resolution: 2dppx) {
        & {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero-background-desktop@2x.webp);
        }
        }
    }

    &__title {
        color: $additional-text;
        text-align: center;
        font-size: 26px;
        font-weight: 900;
        line-height: 1.61;
        letter-spacing: 1.56px;
        text-transform: uppercase;
        text-align: center;
        max-width: 360px;
        margin: 0 auto;
    
        @media screen and (min-width: 1200px) {
            font-size: 44px;
            line-height: 1.36;
            letter-spacing: 2.64px;
            max-width: 696px;
        }
    }

    &__button {
        color: $additional-text;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.87;
        letter-spacing: 0.96px;
        border-radius: 4px;
        border: none;
        background-color: $third-background;
        box-shadow: 0px 4px 4px 0px $button-box-shadow;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        animation-name: hero-button;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        animation-iteration-count: 6;
        animation-direction: alternate;
        padding: 10px 24px;
        margin-top: 30px;
        @keyframes hero-button {
            0% {
                 transform: scale(1);
            }
            100% {
                transform: scale(1.2);
            }
        }

        @media screen and (min-width: 1200px) {
            padding: 10px 32px;
        }
    }

    &__button:hover {
        background-color: $button-hover;
    }
}