.skills {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 768px) {
        
    }

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
    padding-bottom: 94px;
    }

    &__list-box {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    
        @media screen and (min-width: 1200px) {
            display: flex;
            flex-direction: row;
            gap: 30px;
        }
    }

    &__item::before {
        display: block;
        content: "";
        max-width: 450px;
        height: 120px;
        background-color: $second-background;
        border-radius: 4px;
        margin-bottom: 30px;
        background-image: url(../images/phone/skills-antenna-phone@1x.webp);
        background-repeat: no-repeat;
        background-position: center;

       @media (min-device-pixel-ratio: 2),
       (min-resolution: 192dpi),
       (min-resolution: 2dppx) {
        &__item::before {
        background-image: url(../images/phone/skills-antenna-phone@2x.webp);
        }
        }   

        @media screen and (min-width: 768px) {
            width: 354px;
            background-image: url(../images/tablet/skills-antenna-tablet@1x.webp);
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__item::before {
            background-image: url(../images/tablet/skills-antenna-tablet@2x.webp);
                }
            }
        }
    
        @media screen and (min-width: 1200px) {
            width: 270px;
            background-image: url(../images/desktop/skills-antenna-desktop@1x.webp);
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__item::before {
            background-image: url(../images/desktop/skills-antenna-desktop@2x.webp);
                }
            } 
        }
    }
    
    &__item:nth-child(2)::before {
        background-image: url(../images/phone/skills-clock-phone@1x.webp);

        @media (min-device-pixel-ratio: 2),
       (min-resolution: 192dpi),
       (min-resolution: 2dppx) {
        &__item::before {
        background-image: url(../images/phone/skills-clock-phone@2x.webp);
        }
        }   

        @media screen and (min-width: 768px) {
            background-image: url(../images/tablet/skills-clock-tablet@1x.webp);
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__item::before {
            background-image: url(../images/tablet/skills-clock-tablet@2x.webp);
                }
            }
        }
    
        @media screen and (min-width: 1200px) {
            background-image: url(../images/desktop/skills-clock-desktop@1x.webp);
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__item::before {
            background-image: url(../images/desktop/skills-clock-desktop@2x.webp);
                }
            } 
        }
        
    }
    
    &__item:nth-child(3)::before {
        background-image: url(../images/phone/skills-diagram-phone@1x.webp);

        @media (min-device-pixel-ratio: 2),
       (min-resolution: 192dpi),
       (min-resolution: 2dppx) {
        &__item::before {
        background-image: url(../images/phone/skills-diagram-phone@2x.webp);
        }
        }   

        @media screen and (min-width: 768px) {
            background-image: url(../images/tablet/skills-diagram-tablet@1x.webp);
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__item::before {
            background-image: url(../images/tablet/skills-diagram-tablet@2x.webp);
                }
            }
        }
    
        @media screen and (min-width: 1200px) {
            background-image: url(../images/desktop/skills-diagram-desktop@1x.webp);
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__item::before {
            background-image: url(../images/desktop/skills-diagram-desktop@2x.webp);
                }
            } 
        }
    }
    
    &__item:nth-child(4)::before {
        background-image: url(../images/phone/skills-astonaut-phone@1x.webp);

        @media (min-device-pixel-ratio: 2),
       (min-resolution: 192dpi),
       (min-resolution: 2dppx) {
        &__item::before {
        background-image: url(../images/phone/skills-astonaut-phone@2x.webp);
        }
        }   

        @media screen and (min-width: 768px) {
            background-image: url(../images/tablet/skills-astonaut-tablet@1x.webp);
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__item::before {
            background-image: url(../images/tablet/skills-astonaut-tablet@2x.webp);
                }
            }
        }
    
        @media screen and (min-width: 1200px) {
            background-image: url(../images/desktop/skills-astonaut-desktop@1x.webp);
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__item::before {
            background-image: url(../images/desktop/skills-astonaut-desktop@2x.webp);
                }
            } 
        }
    }

    &__title {
        color: $accent-text;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.42px;
        text-transform: uppercase;

        @media screen and (min-width: 768px) {
            text-align: start;
        }
    }

    &__desc {
        color: $sec-additional-text;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71; 
        letter-spacing: 0.42px;
        margin-top: 10px;
        max-width: 450px;

        @media screen and (min-width: 768px) {
            width: 354px;
        }
        
    
        @media screen and (min-width: 1200px) {
            width: 270px;
        }
    }
}
