.team {
    background-color: var(--second-background);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-item {
    background-color: var(--first-background);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}

.team-image {
    width: 270px;
    height: 260px;
}

.team-text-box {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-title {
color: var(--accent-text);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
text-align: center;
}

.team-box {
    display: flex;
    margin-top: 50px;
    gap: 30px;
}


.team-caption {
color: var(--accent-text);
font-size: 16px;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.48px;
}

.team-desc {
color: var(--sec-additional-text);
font-size: 16px;
font-weight: 400;
line-height: 1.18;
letter-spacing: 0.48px;
margin-top: 10px;
    margin-bottom: 16px;
}

.team-social-list {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.team-social-link {
padding: 12px;
border-radius: 100%;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
display: flex;
    justify-content: center;
    align-items: center;
}

.team-link-svg {
    width: 20px;
height: 20px;
fill: var(--clients-svg);
transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:focus,
.team-social-link:hover {
    background-color: var(--third-additional-text);
    .team-link-svg{
        fill: var(--additional-text);
    }
}
